<div class="float-right mb-3">
  <%= link_to 'new user', new_user_path, class:"btn btn-primary", remote: true%>
</div>
<h2> Users </h2>
<%= render partial: 'users_list',locals: { users: @users}%>
<div id="user-div"></div>
